html, body, ul, ol, div, span, li {
	margin: 0;
	padding: 0;
}

* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

html, body {
	min-height: 100%;
}

body {
	background-color: hsl(281, 65%, 90%);
	text-align: center;
}

main {
	padding: 2em;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background-color: hsl(0, 0%, 100%);
	-webkit-box-shadow: 0 0 10px rgba( 0, 0, 0, 0.3 );
	box-shadow: 0 0 10px rgba( 0, 0, 0, 0.3 );
	text-align: left;
}
