{% extends "main.html" %}

{% block title %}
	You should vote third party!
{% endblock %}

{% block styles %}
	{{ super() }}
{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
	<main>
		<h1>So here's the deal.</h1>

		<p>We've been faced with the many flaws of a two-party system for far too long. Gridlock, lesser-of-two-evils voting, and more.</p>
	</main>
{% endblock %}

{% block footer %}

{% endblock %}
