<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		{% block styles %}
			<link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css" />
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto:700,700i" rel="stylesheet">
		{% endblock %}

		{% block scripts %}
			<script type="text/javascript" src="/static/javascripts/main.js"></script>
		{% endblock %}
	</head>

	<body>
		{% block header %}
			<header>

			</header>
		{% endblock %}

		{% block main %}
			<main>

			</main>
		{% endblock %}

		{% block footer %}
			<footer>

			</footer>
		{% endblock %}
	</body>
</html>
